<template>
	<div>
		<h3>Crud Component</h3>
		<Users></Users>
	</div>
</template>

<script>
	import Users from './Users.vue'

	export default {
	  components:{ Users },
	  data () {
	  	return {
	  		
	  	}
	  },
	};
</script>

<style scoped>
</style>