<template>
	<tr>
		<td>{{ user.name }}</td>
		<td>{{ user.email }}</td>
		<td>
			<button class="btn" @click.prevent="$emit('show-edit',user)">Edit</button>
			<button class="btn btn-danger" @click.prevent="$emit('delete-user', user)">Delete</button>
		</td>
	</tr>
</template>

<script>
export default {
  props: ['user'],
  data () {
    return {

    };
  }
};
</script>

<style lang="css" scoped>
</style>