<template>
	<div>
		<form @submit.prevent="createUser" id="create-user">
			<div v-bind:class="{'form-group':true, 'has-error': errors.name}">
				<label>User's name</label>
				<input type="text" v-model="user.name" class="form-control">
				<span v-if="errors.name" v-for="error in errors.name" class="help-block"> {{ error }} </span>
			</div>
			<div v-bind:class="{'form-group':true, 'has-error': errors.email}">
				<label>User's email</label>
				<input type="email" v-model="user.email" class="form-control">
				<span v-if="errors.email" v-for="error in errors.email" class="help-block"> {{ error }} </span>
			</div>
			<div v-bind:class="{'form-group':true, 'has-error': errors.roleSelected}">
				<label>Rol</label>
				<select class="form-control" v-model="user.roleSelected">
					<option value="">-- Select a option --</option>
					<option value="1"> Admin </option>
					<option value="2"> User </option>
				</select>
				<span class="help-block" v-if="errors.roleSelected" v-for="error in errors.roleSelected"> {{ error }} </span>
			</div>
			<div v-bind:class="{'form-group':true, 'has-error': errors.password}">
				<label>Password</label>
				<input type="password" v-model="user.password" class="form-control">
				<span class="help-block" v-if="errors.password" v-for="error in errors.password"> {{ error }} </span>
			</div>
			<div class="form-group">
				<label>Repeat Password</label>
				<input type="password" v-model="user.password2" class="form-control">
			</div>
			<div class="form-group">
				<button class="btn btn-primary">Create</button>
			</div>
		</form>
		<table class="table .table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Mail</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<User v-for="user in users" v-bind:user="user" @delete-user="deleteUser" @show-edit="showEdit"></User>
			</tbody>
		</table>
		
		<div class="modal" v-if="editForm.edit">
			<div class="modal-in">
				<div class="col-sm-8 col-sm-offset-2" id="edit-user">
					<div class="panel panel-info">
					  <div class="panel-heading">Edit User <span class="close-modal pull-right" @click=" editForm.edit=false ">X</span></div>
					  <div class="panel-body">
					    <form @submit.prevent="updateUser(editForm.user)">
							<div v-bind:class="{'form-group':true, 'has-error': editForm.errors.name}">
								<label>User's name</label>
								<input type="text" v-model="editForm.user.name" class="form-control">
								<span v-if="editForm.errors.name" v-for="error in editForm.errors.name" class="help-block"> {{ error }} </span>
							</div>
							<div v-bind:class="{'form-group':true, 'has-error': editForm.errors.email}">
								<label>User's email</label>
								<input type="email" v-model="editForm.user.email" class="form-control">
								<span v-if="editForm.errors.email" v-for="error in editForm.errors.email" class="help-block"> {{ error }} </span>
							</div>
							<div v-bind:class="{'form-group':true, 'has-error': editForm.errors.roleSelected}">
								<label>Rol</label>
								<select class="form-control" v-model="editForm.user.roleSelected">
									<option value="">-- Select a option --</option>
									<option value="1"> Admin </option>
									<option value="2"> User </option>
								</select>
								<span class="help-block" v-if="editForm.errors.roleSelected" v-for="error in editForm.errors.roleSelected"> {{ error }} </span>
							</div>
							<div v-bind:class="{'form-group':true, 'has-error': editForm.errors.password}">
								<label>Password</label>
								<input type="password" v-model="editForm.user.password" class="form-control">
								<span class="help-block" v-if="editForm.errors.password" v-for="error in editForm.errors.password"> {{ error }} </span>
							</div>
							<div class="form-group">
								<label>Repeat Password</label>
								<input type="password" v-model="editForm.user.password2" class="form-control">
							</div>
							<div class="form-group">
								<button class="btn btn-primary">Update</button>
							</div>
						</form>
					  </div>
					</div>
					
				</div>
			</div>
		</div>
	
	</div>
</template>

<script>
	import User from './User.vue';

	export default {
	  components: {User},
	  data () {
	    return {
	    	errors: [],
	    	users: [],
	    	user: {
	    		name: '',
	    		email: '',
	    		password: '',
	    		password2: '',
	    		roleSelected: ''
	    	},
	    	editForm: {
	    		user: {
	    			id:'',
	    			name:'',
	    			email:'',
	    			roleSelected: '',
	    			password:'',
	    			password2:'',

	    		},
	    		edit: false,
	    		errors: []
	    	}
	    };
	  },
	  created(){
	  		this.fetchUsers();
		},
	  methods: {
	  	fetchUsers(){
			axios.get('/users')
			.then(response => this.users = response.data);	  		
	  	},
	  	createUser(){
	  		// if (this.user.password != this.user.password2) {
	  		// 	this.editForm.errors.password = ['The password and password2 must match.'];
	  		// 	return false;
	  		// }
			// var self = this;

  			axios.post('/user',{
	  				name: this.user.name,
	  				email: this.user.email,
	  				password: this.user.password,
	  				password2: this.user.password2,
	  				roleSelected: this.user.roleSelected
	  			})
  				.then(response => {
	  				this.users.push(response.data.user);
	  				this.user = {name:'',email:'',roleSelected:'',password:'',password2:''};
	  				if (this.errors) {
	  					this.errors = [];
	  				}
	  			})
	  			.catch(errors => {
					    if (errors.response) {
				    	this.errors = errors.response.data;
				    } else {
				      // Something happened in setting up the request that triggered an Error
				      console.log('Error', errors.message);
				    }
	  			});
	  	},
	  	deleteUser(user){
	  		axios.delete('/user/'+user.id)
	  		.then(response => {
	  			let index = this.users.indexOf(user);
	  			this.users.splice(index, 1);
	  			console.log(response.data);
	  		});
	  	},
	  	showEdit(user){
	  		this.editForm.edit = true;
	  		this.editForm.user.id = user.id;
	  		this.editForm.user.name = user.name;
	  		this.editForm.user.email = user.email;
	  		this.editForm.user.roleSelected = user.role_id;
	  	},
	  	updateUser(user){
	  		this.editForm.errors = [];
	  		axios.patch('/user',user)
	  		.then(response=>{
	  			this.editForm.edit = false;
	  			this.fetchUsers();
	  			this.editForm.user.id = '';
	  			this.editForm.user.name = '';
	  			this.editForm.user.email = '';
	  			this.editForm.user.roleSelected = '';
	  			this.editForm.user.password = '';
	  			this.editForm.user.password2 = '';
	  			console.log(response.data);
	  		})
			.catch(errors => {
			    if (errors.response) {
		    	this.editForm.errors = errors.response.data;
		    } else {
		      // Something happened in setting up the request that triggered an Error
		      console.log('Error', errors.message);
		    }
			});
	  	}


	  }
	};
</script>

<style lang="css" scoped>
	form#create-user {
		margin-bottom: 40px;
	}
	div.modal {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: hidden;
		display: block;
		z-index: 1050;
		background-color: rgba(1,1,1,.5);
	}
	div#edit-user { 
		top: 60px;
	 }
	 span.close-modal {
		
	 }
	 span.close-modal:hover{
	 	cursor: pointer;
	 	font-weight: bolder;
	 	color: #000;
	 }
	 #edit-user .panel-body {
	 	background-color: #eee;
	 }
</style>