<template>
	<div id="app">
		<h1>{{ message }}</h1>
	</div>
</template>

<script>
export default {
  data () {
    return {
    	message: 'Esto es un puto componente'
    };
  }
};
</script>

<style scoped>
</style>